* {
    box-sizing: border-box;
  }
  .containerDetail{
    width: 350px;
    height: 560px;
    border-radius: 10px;
    border: 1px solid;
    border-color: black;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    margin:auto;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0px 5px 20px 5px rgb(82, 80, 77);
    background-color: rgba(255, 255, 255, 0.589);
  }
  
  .textContainer {
    width: 400px;
    height: 100;
    
  }
  
  .imgContainer {
    width: 300px;
    height: 250;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
  }
  
  .btn{
    display: inline-flex;
    width: 100px;
    height: 40px;
    background: #141414e7;
    color: white;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin: 2px;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    position: relative;
    border-radius: 5px;
     overflow: hidden; 
}
.btn span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.btn::after{
    content: '';
    width: 100%;
    height: 100%;
    background: lightslategray;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}
.btn:hover::after{
    top: 0;
}