.grid{
    display: grid;
    grid-template-columns: 50% 50%  50% 50% ;
}
.containerHome{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btnHome{
    display: inline-flex;
    width: 100px;
    height: 40px;
    background: #141414e7;
    color: white;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin: 2px;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    position: relative;
    border-radius: 5px;
    overflow: hidden; 
}
.btnHome span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.btnHome::after{
    content: '';
    width: 100%;
    height: 100%;
    background: lightslategray;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}
.btnHome:hover::after{
    top: 0;
}

.title{
    background-color: rgba(255, 255, 255, 0.589);
}
.containerCard{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    padding: auto;
    margin-top: 10px;
    margin-left: 100px;
}