
.btnLanding-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 64px;
    overflow: hidden;
    transition: 0.2s;
    font-weight: 900;
    margin-top: 200px;
    border-radius: 5px;
}
.btnLanding-neon:hover{
    background: #141414e7;
    color: white;
 }
.btnLanding-neon span{
    position: absolute;
    display: block;
}



